.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-bar {
  padding: 8px 20px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f6f9fc;
  color: #888;
  width: 400px;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.add-btn {
  background-color: #4a90e2;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 20%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-left:  20px;
}

.notification {
  font-size: 20px;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.username {
  font-size: 14px;
  color: #333;
}
